This notebook is a sample code with Korean comments.

# 2.7 submit하기 전에 - 'Cross Validation'의 중요성

In [1]:
import numpy as np
import pandas as pd


train = pd.read_csv('../input/titanic/train.csv')
test = pd.read_csv('../input/titanic/test.csv')
gender_submission = pd.read_csv('../input/titanic/gender_submission.csv')

data = pd.concat([train, test], sort=False)

data['Sex'].replace(['male', 'female'], [0, 1], inplace=True)
data['Embarked'].fillna(('S'), inplace=True)
data['Embarked'] = data['Embarked'].map({'S': 0, 'C': 1, 'Q': 2}).astype(int)
data['Fare'].fillna(np.mean(data['Fare']), inplace=True)
data['Age'].fillna(data['Age'].median(), inplace=True)
data['FamilySize'] = data['Parch'] + data['SibSp'] + 1
data['IsAlone'] = 0
data.loc[data['FamilySize'] == 1, 'IsAlone'] = 1

In [2]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize,IsAlone
0,1,0.0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,0,2,0
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,1,2,0
2,3,1.0,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0,1,1
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,0,2,0
4,5,0.0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,0,1,1

In [3]:
delete_columns = ['Name', 'PassengerId', 'Ticket', 'Cabin']
data.drop(delete_columns, axis=1, inplace=True)

train = data[:len(train)]
test = data[len(train):]

y_train = train['Survived']
X_train = train.drop('Survived', axis=1)
X_test = test.drop('Survived', axis=1)

In [4]:
X_train.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  FamilySize  IsAlone
0       3    0  22.0      1      0   7.2500         0           2        0
1       1    1  38.0      1      0  71.2833         1           2        0
2       3    1  26.0      0      0   7.9250         0           1        1
3       1    1  35.0      1      0  53.1000         0           2        0
4       3    0  35.0      0      0   8.0500         0           1        1

# 홀드아웃 검증

In [5]:
from sklearn.model_selection import train_test_split


X_train, X_valid, y_train, y_valid = train_test_split(X_train, y_train, test_size=0.3, random_state=0, stratify=y_train)

In [6]:
categorical_features = ['Embarked', 'Pclass', 'Sex']

In [7]:
params = {
    'objective': 'binary',
    'max_bin': 300,
    'learning_rate': 0.05,
    'num_leaves': 40
}

In [8]:
import lightgbm as lgb


lgb_train = lgb.Dataset(X_train, y_train,
                                         categorical_feature=categorical_features)
lgb_eval = lgb.Dataset(X_valid, y_valid, reference=lgb_train,
                                        categorical_feature=categorical_features)

model = lgb.train(params, lgb_train,
                               valid_sets=[lgb_train, lgb_eval],
                               verbose_eval=10,
                               num_boost_round=1000,
                               early_stopping_rounds=10)

y_pred = model.predict(X_test, num_iteration=model.best_iteration)

Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.505699	valid_1's binary_logloss: 0.532106
[20]	training's binary_logloss: 0.427825	valid_1's binary_logloss: 0.482279
[30]	training's binary_logloss: 0.377242	valid_1's binary_logloss: 0.456641
[40]	training's binary_logloss: 0.345424	valid_1's binary_logloss: 0.447083
[50]	training's binary_logloss: 0.323113	valid_1's binary_logloss: 0.440407
[60]	training's binary_logloss: 0.302727	valid_1's binary_logloss: 0.434527
[70]	training's binary_logloss: 0.285597	valid_1's binary_logloss: 0.434932
Early stopping, best iteration is:
[66]	training's binary_logloss: 0.293072	valid_1's binary_logloss: 0.433251

/opt/conda/lib/python3.6/site-packages/lightgbm/basic.py:1243: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')

In [9]:
y_pred[:10]

array([0.03605598, 0.40306884, 0.10732166, 0.0802399 , 0.46011271,
       0.20222002, 0.64929492, 0.11896033, 0.7452973 , 0.01917651])

In [10]:
y_pred = (y_pred > 0.5).astype(int)
y_pred[:10]

array([0, 0, 0, 0, 0, 0, 1, 0, 1, 0])

In [11]:
sub = pd.read_csv('../input/titanic/gender_submission.csv')

sub['Survived'] = y_pred
sub.to_csv('submission_lightgbm_holdout.csv', index=False)

sub.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

# Cross Validation

In [12]:
train = pd.read_csv('../input/titanic/train.csv')
test = pd.read_csv('../input/titanic/test.csv')
gender_submission = pd.read_csv('../input/titanic/gender_submission.csv')

data = pd.concat([train, test], sort=False)

data['Sex'].replace(['male', 'female'], [0, 1], inplace=True)
data['Embarked'].fillna(('S'), inplace=True)
data['Embarked'] = data['Embarked'].map({'S': 0, 'C': 1, 'Q': 2}).astype(int)
data['Fare'].fillna(np.mean(data['Fare']), inplace=True)
data['Age'].fillna(data['Age'].median(), inplace=True)
data['FamilySize'] = data['Parch'] + data['SibSp'] + 1
data['IsAlone'] = 0
data.loc[data['FamilySize'] == 1, 'IsAlone'] = 1

delete_columns = ['Name', 'PassengerId', 'Ticket', 'Cabin']
data.drop(delete_columns, axis=1, inplace=True)

train = data[:len(train)]
test = data[len(train):]

y_train = train['Survived']
X_train = train.drop('Survived', axis=1)
X_test = test.drop('Survived', axis=1)

X_train.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  FamilySize  IsAlone
0       3    0  22.0      1      0   7.2500         0           2        0
1       1    1  38.0      1      0  71.2833         1           2        0
2       3    1  26.0      0      0   7.9250         0           1        1
3       1    1  35.0      1      0  53.1000         0           2        0
4       3    0  35.0      0      0   8.0500         0           1        1

In [13]:
from sklearn.model_selection import KFold


y_preds = []
models = []
oof_train = np.zeros((len(X_train),))
cv = KFold(n_splits=5, shuffle=True, random_state=0)

categorical_features = ['Embarked', 'Pclass', 'Sex']

params = {
    'objective': 'binary',
    'max_bin': 300,
    'learning_rate': 0.05,
    'num_leaves': 40
}

for fold_id, (train_index, valid_index) in enumerate(cv.split(X_train)):
    X_tr = X_train.loc[train_index, :]
    X_val = X_train.loc[valid_index, :]
    y_tr = y_train[train_index]
    y_val = y_train[valid_index]

    lgb_train = lgb.Dataset(X_tr, y_tr,
                                             categorical_feature=categorical_features)
    lgb_eval = lgb.Dataset(X_val, y_val, reference=lgb_train,
                                            categorical_feature=categorical_features)

    model = lgb.train(params, lgb_train,
                                   valid_sets=[lgb_train, lgb_eval],
                                   verbose_eval=10,
                                   num_boost_round=1000,
                                   early_stopping_rounds=10)


    oof_train[valid_index] = model.predict(X_val, num_iteration=model.best_iteration)
    y_pred = model.predict(X_test, num_iteration=model.best_iteration)

    y_preds.append(y_pred)
    models.append(model)

/opt/conda/lib/python3.6/site-packages/lightgbm/basic.py:1243: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')

Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.506339	valid_1's binary_logloss: 0.516198
[20]	training's binary_logloss: 0.428668	valid_1's binary_logloss: 0.446596
[30]	training's binary_logloss: 0.383412	valid_1's binary_logloss: 0.411961
[40]	training's binary_logloss: 0.35367	valid_1's binary_logloss: 0.397122
[50]	training's binary_logloss: 0.329451	valid_1's binary_logloss: 0.391041
[60]	training's binary_logloss: 0.307092	valid_1's binary_logloss: 0.38325
[70]	training's binary_logloss: 0.290771	valid_1's binary_logloss: 0.377067
[80]	training's binary_logloss: 0.274935	valid_1's binary_logloss: 0.373918
[90]	training's binary_logloss: 0.260335	valid_1's binary_logloss: 0.370602
Early stopping, best iteration is:
[85]	training's binary_logloss: 0.267203	valid_1's binary_logloss: 0.369116
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.504211	valid_1's binary_logloss: 0.534594
[20]	training's binary_logloss: 0.422236	valid_1's binary_logloss: 0.481243
[30]	training's binary_logloss: 0.37173	valid_1's binary_logloss: 0.459512
[40]	training's binary_logloss: 0.341914	valid_1's binary_logloss: 0.453871
[50]	training's binary_logloss: 0.318699	valid_1's binary_logloss: 0.451806
[60]	training's binary_logloss: 0.296894	valid_1's binary_logloss: 0.449685
Early stopping, best iteration is:
[58]	training's binary_logloss: 0.301388	valid_1's binary_logloss: 0.449112
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.506747	valid_1's binary_logloss: 0.507713
[20]	training's binary_logloss: 0.42895	valid_1's binary_logloss: 0.449278
[30]	training's binary_logloss: 0.384356	valid_1's binary_logloss: 0.41254
[40]	training's binary_logloss: 0.355218	valid_1's binary_logloss: 0.396228
[50]	training's binary_logloss: 0.333925	valid_1's binary_logloss: 0.387799
[60]	training's binary_logloss: 0.313799	valid_1's binary_logloss: 0.385787
[70]	training's binary_logloss: 0.298536	valid_1's binary_logloss: 0.38534
[80]	training's binary_logloss: 0.283249	valid_1's binary_logloss: 0.383338
[90]	training's binary_logloss: 0.270355	valid_1's binary_logloss: 0.385343
Early stopping, best iteration is:
[80]	training's binary_logloss: 0.283249	valid_1's binary_logloss: 0.383338
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.497977	valid_1's binary_logloss: 0.525947
[20]	training's binary_logloss: 0.416873	valid_1's binary_logloss: 0.471473
[30]	training's binary_logloss: 0.368347	valid_1's binary_logloss: 0.446558
[40]	training's binary_logloss: 0.338844	valid_1's binary_logloss: 0.437886
[50]	training's binary_logloss: 0.318398	valid_1's binary_logloss: 0.437554
Early stopping, best iteration is:
[41]	training's binary_logloss: 0.336795	valid_1's binary_logloss: 0.437121
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.494316	valid_1's binary_logloss: 0.552225
[20]	training's binary_logloss: 0.417327	valid_1's binary_logloss: 0.487758
[30]	training's binary_logloss: 0.370965	valid_1's binary_logloss: 0.453038
[40]	training's binary_logloss: 0.341695	valid_1's binary_logloss: 0.439283
[50]	training's binary_logloss: 0.319843	valid_1's binary_logloss: 0.4351
[60]	training's binary_logloss: 0.301123	valid_1's binary_logloss: 0.435584
Early stopping, best iteration is:
[51]	training's binary_logloss: 0.31821	valid_1's binary_logloss: 0.4347

In [14]:
pd.DataFrame(oof_train).to_csv('oof_train_kfold.csv', index=False)

scores = [
    m.best_score['valid_1']['binary_logloss'] for m in models
]
score = sum(scores) / len(scores)
print('===CV scores===')
print(scores)
print(score)

===CV scores===
[0.36911611932674965, 0.4491122965802196, 0.3833384988458873, 0.43712149656630844, 0.43469994547894103]
0.41467767135962114

In [15]:
from sklearn.metrics import accuracy_score


y_pred_oof = (oof_train > 0.5).astype(int)
accuracy_score(y_train, y_pred_oof)

0.8226711560044894

In [16]:
len(y_preds)

5

In [17]:
y_preds[0][:10]

array([0.07120088, 0.18601086, 0.02400096, 0.40979176, 0.40890152,
       0.4906518 , 0.580799  , 0.21157361, 0.82465467, 0.01063327])

In [18]:
y_sub = sum(y_preds) / len(y_preds)
y_sub = (y_sub > 0.5).astype(int)
y_sub[:10]

array([0, 0, 0, 0, 0, 0, 1, 0, 1, 0])

In [19]:
sub['Survived'] = y_sub
sub.to_csv('submission_lightgbm_kfold.csv', index=False)

sub.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

# Dataset 분할 방법

In [20]:
from sklearn.model_selection import KFold


cv = KFold(n_splits=5, shuffle=True, random_state=0)
for fold_id, (train_index, valid_index) in enumerate(cv.split(X_train)):
    X_tr = X_train.loc[train_index, :]
    X_val = X_train.loc[valid_index, :]
    y_tr = y_train[train_index]
    y_val = y_train[valid_index]

    print(f'fold_id: {fold_id}')
    print(f'y_tr y==1 rate: {sum(y_tr)/len(y_tr)}')
    print(f'y_val y==1 rate: {sum(y_val)/len(y_val)}')

fold_id: 0
y_tr y==1 rate: 0.38342696629213485
y_val y==1 rate: 0.3854748603351955
fold_id: 1
y_tr y==1 rate: 0.3856942496493689
y_val y==1 rate: 0.37640449438202245
fold_id: 2
y_tr y==1 rate: 0.39831697054698456
y_val y==1 rate: 0.3258426966292135
fold_id: 3
y_tr y==1 rate: 0.3856942496493689
y_val y==1 rate: 0.37640449438202245
fold_id: 4
y_tr y==1 rate: 0.36605890603085556
y_val y==1 rate: 0.4550561797752809

In [21]:
from sklearn.model_selection import StratifiedKFold


cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=0)
for fold_id, (train_index, valid_index) in enumerate(cv.split(X_train, y_train)):
    X_tr = X_train.loc[train_index, :]
    X_val = X_train.loc[valid_index, :]
    y_tr = y_train[train_index]
    y_val = y_train[valid_index]

    print(f'fold_id: {fold_id}')
    print(f'y_tr y==1 rate: {sum(y_tr)/len(y_tr)}')
    print(f'y_val y==1 rate: {sum(y_val)/len(y_val)}')

fold_id: 0
y_tr y==1 rate: 0.38342696629213485
y_val y==1 rate: 0.3854748603351955
fold_id: 1
y_tr y==1 rate: 0.38342696629213485
y_val y==1 rate: 0.3854748603351955
fold_id: 2
y_tr y==1 rate: 0.38429172510518933
y_val y==1 rate: 0.38202247191011235
fold_id: 3
y_tr y==1 rate: 0.38429172510518933
y_val y==1 rate: 0.38202247191011235
fold_id: 4
y_tr y==1 rate: 0.38375350140056025
y_val y==1 rate: 0.384180790960452

In [22]:
from sklearn.model_selection import StratifiedKFold


y_preds = []
models = []
oof_train = np.zeros((len(X_train),))
cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=0)

categorical_features = ['Embarked', 'Pclass', 'Sex']

params = {
    'objective': 'binary',
    'max_bin': 300,
    'learning_rate': 0.05,
    'num_leaves': 40
}

for fold_id, (train_index, valid_index) in enumerate(cv.split(X_train, y_train)):
    X_tr = X_train.loc[train_index, :]
    X_val = X_train.loc[valid_index, :]
    y_tr = y_train[train_index]
    y_val = y_train[valid_index]

    lgb_train = lgb.Dataset(X_tr, y_tr,
                                             categorical_feature=categorical_features)
    lgb_eval = lgb.Dataset(X_val, y_val, reference=lgb_train,
                                            categorical_feature=categorical_features)

    model = lgb.train(params, lgb_train,
                                   valid_sets=[lgb_train, lgb_eval],
                                   verbose_eval=10,
                                   num_boost_round=1000,
                                   early_stopping_rounds=10)

    oof_train[valid_index] = model.predict(X_val, num_iteration=model.best_iteration)
    y_pred = model.predict(X_test, num_iteration=model.best_iteration)

    y_preds.append(y_pred)
    models.append(model)

Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.497173	valid_1's binary_logloss: 0.548361
[20]	training's binary_logloss: 0.415497	valid_1's binary_logloss: 0.495272
[30]	training's binary_logloss: 0.368839	valid_1's binary_logloss: 0.469941
[40]	training's binary_logloss: 0.337704	valid_1's binary_logloss: 0.455887
[50]	training's binary_logloss: 0.31511	valid_1's binary_logloss: 0.448996
[60]	training's binary_logloss: 0.294249	valid_1's binary_logloss: 0.454425
Early stopping, best iteration is:
[50]	training's binary_logloss: 0.31511	valid_1's binary_logloss: 0.448996

/opt/conda/lib/python3.6/site-packages/lightgbm/basic.py:1243: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')

Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.503723	valid_1's binary_logloss: 0.512133
[20]	training's binary_logloss: 0.427557	valid_1's binary_logloss: 0.451233
[30]	training's binary_logloss: 0.382201	valid_1's binary_logloss: 0.413801
[40]	training's binary_logloss: 0.352641	valid_1's binary_logloss: 0.400884
[50]	training's binary_logloss: 0.330781	valid_1's binary_logloss: 0.397443
[60]	training's binary_logloss: 0.311659	valid_1's binary_logloss: 0.396539
Early stopping, best iteration is:
[55]	training's binary_logloss: 0.320785	valid_1's binary_logloss: 0.394951
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.505627	valid_1's binary_logloss: 0.512659
[20]	training's binary_logloss: 0.427425	valid_1's binary_logloss: 0.445498
[30]	training's binary_logloss: 0.379715	valid_1's binary_logloss: 0.411298
[40]	training's binary_logloss: 0.348551	valid_1's binary_logloss: 0.395933
[50]	training's binary_logloss: 0.324856	valid_1's binary_logloss: 0.38959
[60]	training's binary_logloss: 0.304612	valid_1's binary_logloss: 0.383849
[70]	training's binary_logloss: 0.28703	valid_1's binary_logloss: 0.384518
Early stopping, best iteration is:
[64]	training's binary_logloss: 0.298425	valid_1's binary_logloss: 0.382113
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.501523	valid_1's binary_logloss: 0.536382
[20]	training's binary_logloss: 0.420578	valid_1's binary_logloss: 0.482229
[30]	training's binary_logloss: 0.377598	valid_1's binary_logloss: 0.461077
[40]	training's binary_logloss: 0.349149	valid_1's binary_logloss: 0.448919
[50]	training's binary_logloss: 0.32552	valid_1's binary_logloss: 0.440548
[60]	training's binary_logloss: 0.305819	valid_1's binary_logloss: 0.435093
[70]	training's binary_logloss: 0.288929	valid_1's binary_logloss: 0.435729
Early stopping, best iteration is:
[65]	training's binary_logloss: 0.297083	valid_1's binary_logloss: 0.433996
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.497914	valid_1's binary_logloss: 0.534421
[20]	training's binary_logloss: 0.417822	valid_1's binary_logloss: 0.489135
[30]	training's binary_logloss: 0.368492	valid_1's binary_logloss: 0.466391
[40]	training's binary_logloss: 0.337723	valid_1's binary_logloss: 0.458283
[50]	training's binary_logloss: 0.316279	valid_1's binary_logloss: 0.461188
Early stopping, best iteration is:
[40]	training's binary_logloss: 0.337723	valid_1's binary_logloss: 0.458283

In [23]:
pd.DataFrame(oof_train).to_csv('oof_train_skfold.csv', index=False)
print(oof_train[:10])

scores = [
    m.best_score['valid_1']['binary_logloss'] for m in models
]
score = sum(scores) / len(scores)
print('===CV scores===')
print(scores)
print(score)

[0.12960226 0.97051442 0.21027611 0.97354071 0.14069274 0.14504993
 0.12983479 0.35898845 0.48175438 0.94465218]
===CV scores===
[0.4489959713813429, 0.39495136241745693, 0.38211327231368947, 0.43399642500840246, 0.4582826654642754]
0.4236679393170334

In [24]:
from sklearn.metrics import accuracy_score


y_pred_oof = (oof_train > 0.5).astype(int)
accuracy_score(y_train, y_pred_oof)

0.8092031425364759

In [25]:
y_sub = sum(y_preds) / len(y_preds)
y_sub = (y_sub > 0.5).astype(int)
y_sub[:10]

array([0, 0, 0, 0, 0, 0, 1, 0, 1, 0])

In [26]:
sub['Survived'] = y_sub
sub.to_csv('submission_lightgbm_skfold.csv', index=False)

sub.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0